.container-about {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.foto {
  padding: 1rem;
	border-radius: 50%;
	width: 23rem;
  height: 23rem;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.text {
  display: flex;
  max-width: 60rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-align: justify;
}

@media (max-width: 767px) {
  .container-about {
    flex-direction: column;
    gap: 0rem;
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .container-about {
    flex-direction: column;
    gap: 0rem;
  }
}

@media (min-width: 1023px) {
}